/********** < Navigation */
.nav-container {}
#nav { border:1px solid #ddd; padding:5px 0; margin:10px 0; font-size:13px; }
#nav .level0 {border-right:1px solid #cccccc;}
#nav ul, #nav div {top:33px;}
/* All Levels */
#nav li { text-align:left; position:relative; }
#nav li.over { z-index:998; }
#nav li.parent {}
#nav li a { display:block; text-decoration:none; }
#nav li a:hover { text-decoration:none; }
#nav li a span { display:block; white-space:nowrap; cursor:pointer; }
#nav li ul a span { white-space:normal; }

/* 1st Level */
#nav li { float:left; }
#nav li a { float:left; padding:5px 10px; font-weight:bold; color:#888; }
#nav li a:hover { color:#000; }
#nav li.over a,#nav li.active a { color:#000; }
/* 2nd Level */
#nav ul,#nav div { position:absolute; width:15em; top:25px; left:-10000px; border:1px solid #ddd; background:#ffffff; }
#nav div ul { position:static; width:auto; border:none; }
/* 3rd+ leven */
#nav ul ul,#nav ul div { top:-1px; }
#nav ul li { float:none; border-bottom:1px solid #ddd; }
#nav ul li.last { border-bottom:0; }
#nav ul li a { float:none; padding:3px 9px; font-weight:normal; color:#888 !important; }
#nav ul li a:hover { color:#000 !important; }
#nav ul li.active > a,#nav ul li.over > a { color:#000 !important; }
/* Show menu */
#nav li ul.shown-sub,
#nav li div.shown-sub { left:0; z-index:999; }
#nav li .shown-sub ul.shown-sub,
#nav li .shown-sub li div.shown-sub { left:100px; }
/********** Navigation > */
/* ======================================================================================= */
/* Sidebar =============================================================================== */